@charset "utf-8";

/**************************************************
* Breakpoint Mixins
**************************************************/
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1365px;


@mixin screen-sm {
	@media (min-width: #{$screen-sm}) {
		@content;
	}
}

@mixin screen-md {
	@media (min-width: #{$screen-md}) {
		@content;
	}
}

@mixin screen-lg {
	@media (min-width: #{$screen-lg}) {
		@content;
	}
}

@mixin screen-xl {
	@media (min-width: #{$screen-xl}) {
		@content;
	}
}

@mixin screen-xxl {
	@media (min-width: #{$screen-xxl}) {
		@content;
	}
}

/**************************************************
* Transition Mixins
**************************************************/

@mixin transition($args: all 0.3s ease) {
	-moz-transition: $args;
	-webkit-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin break-word {
	word-wrap: break-word;
	word-break: break-word;
}

/**************************************************
* Border Radius Mixinsa
**************************************************/

@mixin corner-none {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
@mixin corner-20 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
@mixin corner-30 {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
@mixin corner-50 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
@mixin corner-10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
@mixin corner-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@mixin corner-oval {
	-webkit-border-radius: 10rem;
	-moz-border-radius: 10rem;
	border-radius: 10rem;
}
@mixin circle {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

/**************************************************
* Columns
**************************************************/

@mixin flex_col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
@mixin flex_auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}
@mixin flex_3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
@mixin flex_4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
@mixin flex_5 {
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}
@mixin flex_6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
@mixin flex_7 {
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}
@mixin flex_8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
@mixin flex_9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
@mixin flex_12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

@mixin opacity-0 {
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

@mixin opacity-100 {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

@mixin bg-gradient-primary {
	background: $color-primary;
	background: -moz-linear-gradient(
		left,
		$color-primary 0%,
		$color-primary-accent 100%
	);
	background: -webkit-linear-gradient(
		left,
		$color-primary 0%,
		$color-primary-accent 100%
	);
	background: linear-gradient(
		to right,
		$color-primary 0%,
		$color-primary-accent 100%
	);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-primary', endColorstr='$color-primary-accent',GradientType=1 );
}

@mixin bg-gradient-secondary {
	background: $color-secondary;
	background: -moz-linear-gradient(
		left,
		$color-secondary 0%,
		$color-secondary-accent 100%
	);
	background: -webkit-linear-gradient(
		left,
		$color-secondary 0%,
		$color-secondary-accent 100%
	);
	background: linear-gradient(
		to right,
		$color-secondary 0%,
		$color-secondary-accent 100%
	);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-secondary', endColorstr='$color-secondary-accent',GradientType=1 );
}

@mixin bg-gradient-secondary--reverse {
	background: $color-secondary;
	background: -moz-linear-gradient(
		left,
		$color-secondary-accent 0%,
		$color-secondary 100%
	);
	background: -webkit-linear-gradient(
		left,
		$color-secondary-accent 0%,
		$color-secondary 100%
	);
	background: linear-gradient(
		to right,
		$color-secondary-accent 0%,
		$color-secondary 100%
	);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-secondary-accent', endColorstr='$color-secondary',GradientType=1 );
}

@mixin bg-cover {
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

@mixin bg-image-full {
	background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-webkit-background-size: 100%;
}

@mixin background-image($image-mobile, $image-web) {
	background-image: url($image-mobile);

	@include screen-lg {
		background-image: url($image-web);
	}
}

@mixin background-image-sm($image-mobile, $image-web) {
	background-image: url($image-mobile);

	@include screen-sm {
		background-image: url($image-web);
	}
}

@mixin background-image-theme-1($image-mobile, $image-tablet, $image-web) {
	background-image: url($image-mobile);

	@include screen-md {
		background-image: url($image-tablet);
	}

	@include screen-lg {
		background-image: url($image-web);
	}
}
